body{
    height: 1080px;
    width: 1920px;
   background-color: #A2B3C3;
   font-family: 'Ubuntu';
   
}
@font-face {
    font-family: 'Ubuntu';
    src: url('../assets/Ubuntu-Light.ttf');
    font-style:normal;
    font-weight: normal;
}